<p style="color: green"><%= notice %></p>

<div class="form-group">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <%= link_to "New user", new_user_path, class: "btn btn-info" %>
      </div>
      <div class="col-md-6">
        <%= form_tag(send_users_list_as_csv_users_path) do %>
          <%= email_field_tag :email, {}, required: true, class:"form-control" %>
          <%= submit_tag 'Send CSV', class: "btn btn-sm btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <% User::ATTRIBUTES.each do |attribute| %>
        <th scope="col"><%= attribute %></th>
      <% end %>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each.with_index(1) do |user, index| %>
      <tr>
        <th scope="row"><%= index %></th>
        <% User::ATTRIBUTES.each do |attribute| %>
          <td><%= user.send(attribute) %></td>
        <% end %>
        <td>
          <%= link_to user_path(user), class: "btn btn-sm btn-primary" do %>
              <span class="bi bi-eye"></span>
          <% end %>
          <%= link_to edit_user_path(user), class: "btn btn-sm btn-primary" do %>
              <span class="bi bi-pen"></span>
          <% end %>
          <%= button_to user, method: :delete, class: "btn btn-sm btn-danger" do %>
              <span class="bi bi-trash"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
